 @import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
 @import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600');

body{
	width: 100%;
	height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

header{
	height: 1em;
	width: 100%;
	background: #ff4242;
	background: -moz-linear-gradient(45deg, #ff4242 0%, #f47ac9 100%);
	background: -webkit-linear-gradient(45deg, #ff4242 0%,#f47ac9 100%);
	background: linear-gradient(45deg, #ff4242 0%,#f47ac9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4242', endColorstr='#f47ac9',GradientType=1 );

	color: white;
    font-family: 'Baloo Thambi', cursive;
    display: table;
    text-align: center;
    position: absolute;
}

header h1{
	padding-top: 15% !important;
	/*bottom: 50% !important;*/
/*	margin-left: 50% !important;
	right: 50% !important;*/
/*	display: table-cell;*/
}
	vertical-align: middle;

.navcustom{
	/*position: fixed;*/
	margin-bottom: 0;
	outline: 0;
	background:transparent !important;
}

.navcustom a{
	font-size: 18px;
}

.nav-arrow{
	font-size: 20px !important;
}

section{
	margin-top: 4em;
    font-family: 'Hind Madurai', sans-serif;
}

section h6{
	font-weight: 600;
}

.translit{
	padding-top: 0px !important;
	margin-top: 0px !important;
	font-size: 14px;
}

.card > .card-block > .col_left > p{
	font-weight: 600;
	margin-bottom: 0px;
}

.col_left{
	border-right: 1px solid #333;
}