 @import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
 @import url('https://fonts.googleapis.com/css?family=Hind+Madurai:400,600');

*{
  box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

header{
	height: 20em;
	width: 100%;
	background: #ff4242;
	background: -moz-linear-gradient(45deg, #ff4242 0%, #f47ac9 100%);
	background: -webkit-linear-gradient(45deg, #ff4242 0%,#f47ac9 100%);
	background: linear-gradient(45deg, #ff4242 0%,#f47ac9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4242', endColorstr='#f47ac9',GradientType=1 );

	color: white;
    font-family: 'Baloo Thambi', cursive;
    display: table;
    text-align: center;
    position: absolute;
}

header h1{
	padding-top: 50% !important;
	/*bottom: 50% !important;*/
/*	margin-left: 50% !important;
	right: 50% !important;*/
/*	display: table-cell;*/
}
	vertical-align: middle;

.navcustom{
	/*position: fixed;*/
	margin-bottom: 0;
	outline: 0;
	background:transparent !important;
}

.navcustom a{
	font-size: 18px;
}

.nav-arrow{
	font-size: 24px !important;
}

.list-group-item{
	cursor: pointer;
}

.collapse .list-group-item:first-child {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
}

.paal-head, .paal-head:link, .paal-head:hover{
	background: #222;
	color: white;
}

@media (max-width: 575px){
	.marginb-sm{
		margin-bottom: 1.5rem !important;
	}
	.margin-sm{
		margin-left: 1rem !important;
	}
}

@media (min-width: 576px){
	.marginb-sm{
		margin-bottom: 1.5rem !important;
	}
/* 	.margin-sm{
		margin-left: 1rem !important;
	} */
}

@media (min-width: 768px){
	.marginb-sm{
		margin-bottom: 1.5rem !important;
	}
	.margin-sm{
		/*! margin-left: 1rem !important; */
	}
}

section{
	margin-top: 21em;
    font-family: 'Hind Madurai', sans-serif;
}

section h6{
	font-weight: 600;
}

footer{
	/*margin-top: 100%;*/
	margin-bottom: 0 !important;
	width: 100%;
	height: 5em;
	background: #333;
	color: white;
}
